<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120230213073824.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/956b9f12-797c-4f16-ac90-1441393fa00a/resourcegroups/CMP-RSG-DEV-MOINSandbox/providers/Microsoft.Web/sites/FunctionApp120230213073824</ResourceId>
    <UserName>$FunctionApp120230213073824</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120230213073824.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>